.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* top: 0px !important; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.circleCount{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
}

 

.buttonShopCol{
  flex-direction: column;

}
.imageProduct{
  max-width: 240px !important;
  max-height: 300px !important;
  align-self: center;
}
.imageDetProduct{
  max-width: 440px !important;
  max-height: 400px !important;
  align-self: left;
}
.widthCar{
  width: 400px !important;
}

.cardWidth{
  width: 250px !important;
}

.fixedBottom{
 display: block;
 position:fixed;
 bottom: 0px;
}